*.lmt
*.pml
*.pmt
*.smt
.lmkstamp
.pmkstamp
.smkstamp
.tmstamp
alan.rc
.alan
.unittests
.winalan
*.pmt2
*.smt2
smScan.dos
smScan.head
smScan.mac
smScan.tail
smScan.tbl
alan.res
alan.voc
alan
unittests
emitTestAcode
unittest.jpg
coverage
coverage*.info
.cgreen-gdb-commands
.alan64
